---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #102372;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #102372;
$body-text-color: #606c71;
$body-link-color: #102372;

@import "{{ site.theme }}";
