---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #102372;
$header-bg-color-secondary: #1D7874;

// Text
$section-headings-color: #102372;
$body-text-color: #606c71;
$body-link-color: #1D7874;

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
 font-weight: 600; 
}
